<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Anzuelos - PESCA COSMAR</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/categorias.css">
</head>
<body>

<header>
    <img src="../images/logoCosmar.png" alt="Logo Cosmar" style="float:left; margin-right:10px;">
    <h1>PESCA COSMAR</h1>
</header>

<nav>
    <ul>
        <li><a href="../../index.php">Inicio</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Categorías</a>
            <div class="dropdown-content">
                <a href="../categorias/canas_de_pescar.html">Cañas de Pescar</a>
                <a href="../categorias/carretes.html">Carretes</a>
                <a href="#">Anzuelos</a>
                <a href="../categorias/accesorios.html">Accesorios</a>
            </div>
        </li>
        <li><a href="../../#contacto">Contacto</a></li>
        <li><a href="../logIn.html"><img src="../images/iniciar-sesion.png" alt="Iniciar Sesión" style="vertical-align: middle;"></a></li>
    </ul>
</nav>

<main>
    <section id="home">
        <h2>Anzuelos</h2>
        <p>Bienvenido a nuestra sección de anzuelos. Aquí encontrarás una variedad de anzuelos para diferentes tipos de pesca.</p>
        <!-- Añadidas las imágenes de anzuelos -->
        <div class="producto-gallery">
        <div class="producto-item">
            <img src="../images/img_anzuelos/SCATTER%20RAP%20COUNTDOWN.png" alt="Anzuelo 1">
            <h3>SCATTER RAP® COUNTDOWN</h3>
            <p class="price">8.99€</p>
        </div>

        <div class="producto-item">
            <img src="../images/img_anzuelos/SCATTER%20RAP%20GLASS%20SHAD.png" alt="Anzuelo 2">
            <h3>SCATTER RAP® GLASS SHAD</h3>
            <p class="price">13.99€</p>
        </div>
        <div class="producto-item">
            <img src="../images/img_anzuelos/SKITTER%20V.png" alt="Anzuelo 3">
            <h3>SKITTER V </h3>
            <p class="price">9.99€</p>
        </div>

        <div class="producto-item">
            <img src="../images/img_anzuelos/SKITTET%20POP.png" alt="Anzuelo 4">
            <h3>SKITTER POP</h3>
            <p class="price">$12.99</p>
        </div>

        <div class="producto-item">
            <img src="../images/img_anzuelos/X-RAP%20TWITCHIN'%20MINNOW.png" alt="Anzuelo 5">
            <h3>X-RAP® TWITCHIN' MINNOW</h3>
            <p class="price">$14.99</p>
        </div>
        <div class="producto-item">
            <img src="../images/img_anzuelos/X-RAP%20TWITCHIN'%20MULLET.png" alt="Anzuelo 5">
            <h3>X-RAP® TWITCHIN' MULLET</h3>
            <p class="price">$14.99</p>
        </div>
        </div>
    </section>

</main>
<footer>
    <p>Copyright © 2023, Todos los derechos reservados.</p>
</footer>

</body>
</html>
