<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Anzuelos - PESCA COSMAR</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/categorias.css">

</head>
<body>

<header>
    <img src="../images/logoCosmar.png" alt="Logo Cosmar" style="float:left; margin-right:10px;">
    <h1>PESCA COSMAR</h1>
</header>

<nav>
    <ul>
        <li><a href="../../index.php">Inicio</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Categorías</a>
            <div class="dropdown-content">
                <a href="../categorias/canas_de_pescar.html">Cañas de Pescar</a>
                <a>Carretes</a>
                <a href="../categorias/anzuelos.html">Anzuelos</a>
                <a href="../categorias/accesorios.html">Accesorios</a>

            </div>
        </li>
        <li><a href="../../#contacto">Contacto</a></li>
        <li><a href="../logIn.html"><img src="../images/iniciar-sesion.png" alt="Iniciar Sesión" style="vertical-align: middle;"></a></li>

    </ul>
</nav>

<main>
    <section id="home">
        <h2>Carretes</h2>
        <p>Bienvenido a nuestra sección de carretes. </p>
    </section>


</main>

<footer>
    <p>Copyright © 2023, Todos los derechos reservados.</p>
</footer>

</body>
</html>
