<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión - PESCA COSMAR</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/logIn-styles.css">
</head>

<body>
<header>
    <img src="images/logoCosmar.png" alt="Logo Cosmar" style="float:left; margin-right:10px;">
    <h1>PESCA COSMAR</h1>
</header>

    <nav>
        <ul>
            <li><a href="../index.php">Inicio</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Categorías</a>
                <div class="dropdown-content">
                    <a href="categorias/canas_de_pescar.html">Cañas de Pescar</a>
                    <a href="categorias/carretes.html">Carretes</a>
                    <a href="categorias/anzuelos.html">Anzuelos</a>
                    <a href="categorias/accesorios.html">Accesorios</a>
                </div>
            </li>
            <li><a href="../../#contacto">Contacto</a></li>
        </ul>
    </nav>

<main>
    <div class="login-box">
        <h1>Login</h1>

        <div class="textbox">
            <input type="text" placeholder="Username" name="username" required>
        </div>

        <div class="textbox">
            <input type="password" placeholder="Password" name="password" required>
            <a href="#" class="forgot-pw">Forgot your password?</a>
        </div>

        <input type="submit" class="btn-login" value="Login">

        <div class="register-link">
            Don't have an account? <a href="#">Click here to register!</a>
        </div>
    </div>
</main>

<footer>
    <p>Copyright © 2023, Todos los derechos reservados.</p>
</footer>
</body>
</html>
